---
import "@pagefind/default-ui/css/ui.css";

type Props = {
  id?: string;
  className?: string;
  query?: string;
  uiOptions?: Record<string, unknown>;
};

const { id, className, query, uiOptions = {} } = Astro.props;
const bundlePath = `${import.meta.env.BASE_URL}pagefind/`;
---

<div
  id={id}
  class:list={[className, 'pagefind-init']}
  data-pagefind-ui
  data-bundle-path={bundlePath}
  data-query={query}
  data-ui-options={JSON.stringify(uiOptions)}
></div>

<script>
import { PagefindUI } from "@pagefind/default-ui";

function initPagefind() {
  const selector = "[data-pagefind-ui]";
  for (const element of document.querySelectorAll(
    `${selector}.pagefind-init`,
  )) {
    const elementSelector = [
      ...(element.id ? [`#${element.id}`] : []),
      ...[...element.classList.values()].map((className) => `.${className}`),
    ].join("");
    const ui = JSON.parse(element.getAttribute("data-ui-options") ?? "{}");
    new PagefindUI({
      ...ui,
      element: elementSelector,
      bundlePath: element.getAttribute("data-bundle-path") ?? "/pagefind/",
    });
    element.classList.remove("pagefind-init");
    const presetQuery = element.getAttribute("data-query");
    if (!presetQuery) {
      continue;
    }
    const input = element.querySelector('input[type="text"]');
    if (input instanceof HTMLInputElement) {
      input.value = presetQuery;
      input.dispatchEvent(new Event("input", { bubbles: true }));
    }
  }
}

document.addEventListener("astro:page-load", initPagefind);
if (document.readyState === "loading") {
  document.addEventListener("DOMContentLoaded", initPagefind);
} else {
  initPagefind();
}
</script>
